<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<header class="header">restore password</header>
<div>
    don't worry, we control your password
    <a href="http://localhost:5000/password/forgot?token={{token}}">click</a>
</div>
<footer><a href="https://google.com">google</a></footer>
</body>
</html>